.align {
  /*display: inline-block;*/
  height: 700px;
}

@media(min-width: 992px) {
  .one-third {
    float: left;
    width: 33.33333333%;
  }
}

@media (max-width: 992px) {
  .one-third{
    float: left;
    width: 50%;
  }
  .full-width {
    float: left;
    width: 100%;
  }
}






.Shows {

}

.Episodes {

}


.Episode {

}

.Episode span {
  font-size: 22px;
}

.Player {

}

.Show {
  margin-bottom: 10px;
  font-size: 20px;

.Show span {
  margin-left: 5px;
}

.Tview {

}
}

.Tview .panel {
  height: 600px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
}

.App-intro {
  font-size: large;
}
